//
//  APIConfig.xcconfig
//  RecipeAPI
//
//  Created by Dominik Babic on 01.03.2024..
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ID = 4dbab113
APP_KEY = 287d24a63cd5d2f89801a7506ba5b62b
API_BASE_URL = https:/$()/api.edamam.com
